[Desktop Entry]
Version=1.0
Name=Chromium Web Browser
Name[it]=Browser web Chromium
GenericName=Web Browser
GenericName[it]=Browser web
Comment=Access the Internet
Comment[it]=Accesso a Internet
Exec=chromium-browser %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium-browser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Chromium-browser
StartupNotify=true
Actions=NewWindow;Incognito;TempProfile;
X-AppInstall-Package=chromium-browser
X-XFCE-Source=file:///usr/share/applications/chromium-browser.desktop

[Desktop Action NewWindow]
Name=Open a New Window
Name[it]=Apri una nuova finestra
Exec=chromium-browser

[Desktop Action Incognito]
Name=Open a New Window in incognito mode
Name[it]=Apri una nuova finestra in modalità incognito
Exec=chromium-browser --incognito

[Desktop Action TempProfile]
Name=Open a New Window with a temporary profile
Name[it]=Apri una nuova finestra con un profilo temporaneo
Exec=chromium-browser --temp-profile
