[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/franco/Scrivania/xfce4-screenshooter.desktop]
row=3
col=0

[/home/franco/Scrivania/simple-scan.desktop]
row=4
col=0

[/home/franco/Scrivania/libreoffice-calc.desktop]
row=1
col=0

[/home/franco/Scrivania/chromium-browser.desktop]
row=0
col=0

[/home/franco/Scrivania/xfce4-dict.desktop]
row=5
col=0

[/home/franco/Scrivania/exo-file-manager.desktop]
row=2
col=0

